# Copie este arquivo para .streamlit/secrets.toml apenas no seu computador.
# NÃO envie secrets.toml para o GitHub.
DATABASE_URL = "postgresql://postgres:muitocharth_123@db.hixacpigorapotxvcxzo.supabase.co:5432/postgres"
